{% load static %}
<div class = 'profile-block'>
    <div class = 'top-data'>
        <div class = 'indicator'>
            <img src="{% static 'post_app/images/avatar.svg' %}" alt="Аватар">
        </div>

        <div class = 'text-data'>
            <p class="username">Lina li</p>
            <p class="nickname">@theli</p>
        </div>
    </div>


    <div class = 'bottom-data'>
        <div class = 'user-data border-style' >
            <p class="number-text">566</p>
            <p class="text">Дописи</p>
        </div>
            
        <div class = 'user-data border-style'>
            <p class="number-text">12.1К</p>
            <p class="text">Читачі</p>
        </div>
        
        <div class = 'user-data'>
            <p class="number-text">222</p>
            <p class="text">Друзі</p>
        </div>
    </div>
</div>