.buttons{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 1.11vw;
    height: 4.17vh;
}

.buttons button{
    height: 100%;
    border-radius: 128.54vh;
    gap: 0.55vw;
    padding: 1.04vh 1.11vw;
    font-size: 1.45vh;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
}

.accept-button{
    color: #FFFFFF;
    background-color: #543C52;
    border: none;
}

.delete-button{
    color: #543C52;
    background: none;
    border: 0.08vw #543C52 solid;
}